.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.form-control {
  width: 21%;
  min-width: 160px;
}

.App-intro {
  font-size: large;
}

#brand {
  color: White;
  font-weight: 400;
  font-family: "Merriweather", Georgia, serif;
}

#navbar {
  background-color: #001f70;
}

#navbar:hover {
  color: #0000ff;
}

.navbar-brand {
  padding: 0px;
  height: 80px;
}

.navbar-brand>img {
  height: 100%;
  width: auto;
}

.modal-container {
  position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

#myJobsBadge {
  margin: 4px;
  background-color: white;
  color: #001f70;
}

#side-bar {
  margin-top: 15px;
}

.thumbnail {
  padding: 3px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#videoModal {
  margin: 15px;
}
